<!DOCTYPE html>
%html
%head
%title DemoApp
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'
= csrf_meta_tags
:css
  .right {
    right: 10px; /* Положение от правого края */
    background: #ccc; /* Цвет фона */
    }

%body  
  .sessionInfo
  - if current_user
    = current_user.email
    = link_to "sign_out",  destroy_user_session_path
  - else
    = link_to "вход", new_user_session_path
    | #{link_to "регистрация",  new_user_registration_path}

.right #{link_to "home", root_path}
= yield